@model List<PanchangaMvc.Controllers.NakshatraController.NakshatraResult>

@{
    ViewBag.Title = "Full Year Nakshatra";
}

<h2>Nakshatra Timings for 2025</h2>
<table border="1">
    <thead>
        <tr>
            <th>Date</th>
            <th>Nakshatra</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var n in Model)
        {
            <tr>
                <td>@n.Date.ToString("dd-MMM-yyyy")</td>
                <td>@n.NakshatraName</td>
                <td>@n.StartTime.ToString("HH:mm:ss")</td>
                <td>@n.EndTime.ToString("HH:mm:ss")</td>
            </tr>
        }
    </tbody>
</table>
